<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/Style/LoginStyle.css">
    <title>Login</title>
</head>
<body>
    <div class="main">



        <div class="column1">


            <div class="title">
                <h1>Zeta</h1>    
            </div>
            <div class="form">
                <form action="">
                    <div class="username-input">
                        <label for="username">Username</label><br>
                        <input type="text" name="username" id="username"> 
                    </div>
                    
                    <div class="password-input">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password">
                    </div>

                    <br>

                    <div class="submit-input">
                        <input type="submit" value="Submit" id="submit">
                    </div>
                </form>  
            </div>
            


        </div>



        <div class="column2">

            <div class="background">
                <img src="../Public/Images/background-login.png" alt="">
            </div>


        </div>



    </div>
</body>
</html>